@model IEnumerable<WebStore.ViewModels.ProductViewModel>

<h3> Có <b>@Model.Count()</b> sản phẩm.</h3>
@foreach (var item in Model)
{
	<div class="col-md-6 col-lg-6 col-xl-4">
		<div class="rounded position-relative fruite-item">
			<div class="fruite-img" style="height:65%">
				<a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.Id">
					<img src="@item.PreviewImage" class="w-100 rounded-top" alt="@item.Name" style="height:100%">
				</a>
			</div>
			<div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Category</div>
			<div class="p-4 border border-secondary border-top-0 rounded-bottom" style="height:35%">
				<a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.Id"><h4>@item.Name</h4></a>
				<p>@item.Description</p>
				<div class="d-flex justify-content-between flex-lg-wrap">
					<p class="text-dark fs-5 fw-bold mb-0">$@item.Price</p>
					<a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.Id" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Đưa vào giỏ</a>
				</div>
			</div>
		</div>
	</div>
}
